<%
# Code Review plugin for Redmine
# Copyright (C) 2010-2012  Haruyuki Iida
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; either version 2
# of the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
-%>
<%

if @changesets
  changeset_ids = ''
  @changesets.each { |changeset|
    changeset_ids << changeset.revision
    changeset_ids << ','
  }

  repository_id = @repository.identifier_param if @repository.respond_to?("identifier_param")
  url = url_for :controller => 'code_review', :action => 'update_revisions_view', :id => project, :repository_id => repository_id
%>

  <div id="code_review_revisions"></div>


  <script type="text/javascript">
    $(document).ready(function(){
      $('#code_review_revisions').load('<%=url%>', {changeset_ids: '<%=raw changeset_ids%>'});
    });
  </script>

<% end %>