<h2>
  <%=h l(:label_settings)%>
</h2>

<% labelled_tabular_form_for :setting, @setting,
                             :url => {:action => 'update', :id => @project, :setting_id => @setting.id} do |f| %>
    <%= error_messages_for 'setting' %>
    <div class="box">
    <p><%= f.select :mail_notification,
        {l(:label_none) => CodeReviewUserSetting::NOTIFCIATION_NONE,
        l(:review_notify_only_involved_in) => CodeReviewUserSetting::NOTIFICATION_INVOLVED_IN,
        l(:review_notify_all) => CodeReviewUserSetting::NOTIFICATION_ALL}, :include_blank => false %></p>

    </div>
    <%= submit_tag l(:button_update) %>
<% end %>
