<h2>
  <%=h l(:label_settings)%>
</h2>

<% labelled_tabular_form_for :setting, @setting,
                             :url => {:action => 'update', :id => @project, :setting_id => @setting.id} do |f| %>
    <%= error_messages_for 'setting' %>
    <div class="box">
    <p><%= f.select :tracker_id, @project.trackers.collect {|t| [t.name, t.id]}, :required => true %></p>

    </div>
    <%= submit_tag l(:button_update) %>
<% end %>
