#review-form-frame {
    width: 50%;
}

.autoscroll table.filecontent th.line-num {
    white-space: nowrap;
    vertical-align: bottom;
    padding-top: 0;
    padding-bottom: 0;
    text-align:left;
}

table.filecontent th.line-num img{
    padding: 0;
    margin: 0;
    cursor: pointer;
}


.code-review-form-title {
    background-color: #002059;
    color: white;
    padding-left: 2px;
    padding-right: 2px;
    cursor: default;
}

.code-review-form-title table, tr, td {
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
}
.code_review_viewer {

    min-width: 200px;
}

.code_review_body {
    background-color: white;
    padding: 2px;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-width: 1px;
    border-color: gray;
    max-height: 60%;
    overflow: auto;
}

