#review-form-frame {
    width: 50%;
}

.autoscroll table.filecontent th.line-num {
    white-space: nowrap;
    vertical-align: bottom;
    padding-top: 0;
    padding-bottom: 0;
    text-align:left;
}

table.filecontent th.line-num img{
    padding: 0;
    margin: 0;
    cursor: pointer;
}


.code-review-form-title {
    background-color: #002059;
    color: white;
    padding-left: 2px;
    padding-right: 2px;
    cursor: default;
}

.code-review-form-title table, tr, td {
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
}
.code_review_viewer {

    min-width: 300px;
    /*
    max-width: 60%;
    */
    /* max-height: 400px; */
}

.code_review_viewer .issue{
    
}

.code_review_body {
    background-color: white;
    
    padding:2px;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-width: 1px;
    border-color: gray;
    /* max-height: 400px; */
    
    
}

.code_review_body-scrollarea {

    overflow-y: auto;
    max-height: 400px;
    /*
    max-width: 60%;
    padding: 5px;
    */

}

#code_review_list table.list td {
    text-align: center;
}

#code_review_list table.list td.path {
    text-align: left;
}
